.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
   border-color: white;
   background-color: white;
   border-style: ridge;
   border-color: darkblue;
}

